@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;

body {
  background: #272D29;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scrollbar-width: none !important;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* .swiper-slide{
  background: #dcefd8;
  border-radius: 1.5rem;
} */

@media screen and (min-width:1440px) {
  html {
    font-size: 130%;
  }
}

@media screen and (max-width:1080px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width:640px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width:400px) {
  html {
    font-size: 70%;
  }
}